h1 {
  color: #EA3F50;
  font-size: 60px;
  font-weight: 900;
}

h2 {
  color: #EA3F50;
  font-size: 40px;
  text-align: center;
  font-weight: 900;
}

h4 {
  text-align: center;
  margin-top: 20px;
}

p {
  color: rgb(69, 69, 69);
  font-size: 16px;
  padding: 0px;
}

.app {
  font-family: Helvetica;
}

.app-header {
  color: #404040;
  font-weight: 900;
}

.app-widget {
  border: 3px solid #f6a07c;
  border-radius: 10px;
  background-color: #FEF9EC;
}

.app-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.app-footer {
  padding: 10px;
}
