h1 {
  color: #000000;
  font-size: 60px;
}

h2 {
  color: #cc2a40;
  font-size: 40px;
}

p {
  color: rgb(69, 69, 69);
  font-size: 16px;
}

.app {
  font-family: Helvetica;
}

.app-header {
  color: white;
  padding: 20px;
}
.app-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 50px;
}

.app-footer {
  padding: 10px;
}
